@import '@/styles/general.constants';
@import '@/styles/colors.constants';

$padding-offest: 10.5;

.about-me-page {
  width: 100%;
  height: calc(100% - $navbar-height);
  padding: 0 40px;

  display: flex;

  .about-me-description {
    width: 100%;
    padding-right: 30px;

    .about-me-description-general {
      .about-me-description-general-header {
        font-family: 'Futura', sans-serif;
        font-size: 48px;

        // TODO: Make this text background rules as mixin or function and remove duplicates;
        background: $main-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        margin-top: 20px;
        font-family: 'Futura', sans-serif;
        font-size: 20px;
        line-height: 1.5;
      }

      .about-me-description-general-strengths-container {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 100%;
        padding-top: 15px;
        
        @media screen and (max-width: 1175px) {
          justify-content: center;
        }

        .about-me-description-general-strengths-item {
          margin-right: 10px;
        }

        .about-me-description-general-strengths-item {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          text-align: center;
          font-family: 'Futura', sans-serif;
          font-size: 16px;

          width: 273px;
          height: 200px;
          padding: 0 10px;

          background: #14131B;

          border: 1px solid #9B87F3;
          border-radius: 15px;

          svg {
            margin-bottom: 25px;
          }
        }
      }
    }

  }


}