@import '@/styles/colors.constants';
@import '@/styles/general.constants';

.projects-entity-page {
  width: 100%;
  height: calc(100vh - $navbar-height);
  padding: 20px 40px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .projects-entity-page-info {
    display: flex;
  }
}